<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
<script type="text/javascript">
    var tom = {"name":"tom", "age":10};
    alert(tom.name);
    var nums = [1,2,3,4,];
    alert(nums[2]);
    var x = [
        {"name":"tom", "age":10},
        {"name":"jerry", "age":3},
    ];
    alert(x[0].name);
    var obj = JSON.parse('{"name":"tom", "age":10}');
    var text = JSON.stringify(obj);
    alert(typeof obj);
    alert(typeof text);
</script>
</html>